@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
ion-label{
    text-align: center;
}
.padding-fix{
    padding-top:15px
}
.del-icon{
    font-size:22px
}
.counter{
    font-weight: 400;
    opacity: 100;
    text-align: center;
    font-family: 'Niconne', cursive;
    font-size:40px;
    color:white;
    padding:0px;
}
h1{
    font-family: 'MedievalSharp', cursive;
    font-size: 48px;
    padding-top: 2px;
    padding-bottom:2px;
}