@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
ion-grid{
    padding-bottom:12px
}
ion-card{
    padding:0;
    margin:0;
}
ion-card-header{
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}
ion-row{
    text-align: center;
    font-family: 'MedievalSharp', cursive;
    font-size:18px;
}
.change-sex-icon{
    font-size:26px;
}
.num-val{
    padding-top:0px;
    font-family: 'Niconne', cursive;
}
h1{
    padding:0px;
    margin:0px;
    font-size:48px;
}
h2{
    padding:0px;
    margin:0px;
    font-size:40px;
}
.battle-button{
    padding-bottom:5px;
    font-family: 'MedievalSharp', cursive;
}
.munchkin-action-button{
    margin-left: -16px;
}

