<!-- <ion-card>
  <ion-card-header>
    <h2>{{munchkin.items}}</h2>
  </ion-card-header>
  <ion-card-content>
    <h1>{{munchkin.level+munchkin.items}}</h1>
  </ion-card-content>
</ion-card>  -->

<ion-grid>
  <ion-row>
    <ion-col size="4"></ion-col>
    <ion-col size="4">Siła</ion-col>
    <ion-col size="4"></ion-col>
    <ion-col size="4"></ion-col>
    <ion-col size="4" class="num-val"><h1>{{munchkin.level+munchkin.items}}</h1></ion-col>
    <ion-col size="4"></ion-col>
    <ion-col size="6">Poziom</ion-col>
    <ion-col size="6">Przedmioty</ion-col>
    <ion-col size="1"></ion-col>
    <ion-col size="4" class="num-val"><h2>{{munchkin.level}}</h2></ion-col>
    <ion-col size="2"><ion-icon (click)="changeMunchkinSex(munchkin.id)" *ngIf="munchkin.male; else femaleMunchkin" name="male-outline"/><ng-template #femaleMunchkin ><ion-icon (click)="changeMunchkinSex(munchkin.id)" name="female-outline"/></ng-template></ion-col>
    <ion-col size="4" class="num-val"><h2>{{munchkin.items}}</h2></ion-col>
    <ion-col size="1"></ion-col>
    <ion-col size="1"></ion-col>
    <ion-col size="2"><ion-icon (click)="changeMunchkinLevel(munchkin.id,false)" name="remove-outline"></ion-icon></ion-col>
    <ion-col size="2"><ion-icon (click)="changeMunchkinLevel(munchkin.id,true)" name="add-outline"></ion-icon></ion-col>
    <ion-col size="2"></ion-col>
    <ion-col size="2"><ion-icon (click)="changeMunchkinItems(munchkin.id,false)" name="remove-outline"></ion-icon></ion-col>
    <ion-col size="2"><ion-icon (click)="changeMunchkinItems(munchkin.id,true)" name="add-outline"></ion-icon></ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
</ion-grid>