@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
ion-card{
    padding:0;
    margin:0;
}
ion-card-header{
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}
ion-row{
    text-align: center;
}
ion-icon{
    font-size: 24px;
}
.num-val{
    font-family: 'Niconne', cursive;
}
h1{
    padding:0px;
    margin:0px;
    font-size:48px;
}
h2{
    padding:0px;
    margin:0px;
    font-size:40px;
}
