<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">
      ZWMunchkin
    </ion-title>
    <ion-icon name="create-outline" slot="end" class="edit-icon" (click)="editCheck=!editCheck"/>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

 
  <ion-list>
    <div *ngIf="getMunchkins().length>1;else addMunchkinPrompt">
      <app-one-munchkin *ngFor="let munchkin of getMunchkins()" [munchkin]="munchkin" [isEditMode]="editCheck" [viewMode]="'homePage'"></app-one-munchkin>
    </div>
    <ng-template #addMunchkinPrompt>
      <ion-item>
        <ion-label class="munchkin-prompt">
          <p>Dodaj munchkina byq</p>
        </ion-label>
      </ion-item>
    </ng-template>
  </ion-list>
  <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addMunchkinAlert()">
      <ion-icon name="add"/>
    </ion-fab-button>
  </ion-fab>
</ion-content>