<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()"><ion-icon name="arrow-back-outline"/></ion-button>
    </ion-buttons>
    <ion-title>{{id?getMunchkins()[id].name:''}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <app-muncher-view [munchkin]="getMunchkins()[id]"/>
  <ion-list>
    <app-one-munchkin *ngFor="let munchkin of getMunchkins()" [munchkin]="munchkin" [isEditMode]="false" [viewMode]="'modalPage'" (click)="id=munchkin.id"></app-one-munchkin>
  </ion-list>
</ion-content>